# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
*.sqlite
*.sqlite3
*.csv
main_app/migrations/0001_initial.py
main_app/migrations/0002_auto_20180710_1434.py
main_app/migrations/0003_auto_20180710_1519.py
main_app/migrations/0004_auto_20180711_1422.py
main_app/migrations/0005_auto_20180711_1441.py
main_app/migrations/0006_station_state.py
main_app/migrations/0007_auto_20180711_1739.py
main_app/migrations/0008_auto_20180711_1741.py
main_app/migrations/0009_auto_20180711_2011.py
main_app/migrations/0010_auto_20180711_2014.py
main_app/migrations/0011_auto_20180716_1515.py
main_app/migrations/0012_remove_smscontribution_state.py
main_app/migrations/0013_auto_20180716_1149.py
main_app/migrations/0014_auto_20180716_1151.py
#*.jpg
#*.png
#*.jpeg
crowd_hydrology/settings.py
